@use "./assets/styles/abstracts/" as *;

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background: #b30000;  */
}


.logo {
  // color: black;
  font-size: 1rem;
  font-weight: 700;
  background: linear-gradient(20deg, #630897 30%, #e48aff, #00b6d8, #00d0bb);
  background-clip: text;
  -webkit-text-fill-color: transparent;

  @include responsiveness(medium) {
    font-size: 0.75rem;
  }
}

.dashboard__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 1.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #000;
  div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  @include responsiveness(medium) {
    padding-inline: 1rem;
  }
}

.m-18320242:where([data-visible])::before {
  background-color: #141414 !important;
}

:where([data-mantine-color-scheme='light']) .m-18320242:where([data-visible])::after {
  background-color: #141313;
}
